<div class="container">
  <div class="contact-info-wrapper">
    <img src="../../../assets/MelianCosmeticsSquaredLogo.png" alt="Melian Cosmetics Logo" style="width: 100%; height: auto;">
    <div class="network-container">
      <a href="https://wa.me/message/Y7X2SBLSN2F5I1">
        <img src="../../../assets/whatsapplogo.png" alt="Whatsapp Logo" style="width: 36px">
      </a>
      <a href="https://www.instagram.com/meliancosmeticsve?igsh=MXYxNmYwbHlqZnZ2Ng==">
        <img src="../../../assets/instagramlogo.png" alt="Instagram Logo" style="width: 36px">    
      </a>
      <a href="https://www.tiktok.com/@melian.cosmetics?_t=8pNHXS18fkk&_r=1">
        <img src="../../../assets/tiktoklogo.png" alt="Tiktok Logo" style="width: 36px">
      </a>
    </div>
  </div>
</div>