<div>
  <img
    *ngIf="_productImageUrl"
    [src]="_productImageUrl"
    alt="Product image"
    class="product image"
    style="height: 150px; width: 150px"
  />
</div>
<div *ngIf="!_productImageUrl" class="product no-image" style="height: 150px; width: 150px">
  Debes subir una imagen
</div>
<div style="width: 150px">
  <button>
    <label class="button primary block" for="single">
      {{ uploading ? 'Uploading ...' : 'Upload' }}
    </label>
    <input
      style="visibility: hidden;position: absolute"
      type="file"
      id="single"
      accept="image/*"
      (change)="uploadProductImage($event)"
      [disabled]="uploading"
    />
  </button>
</div>