<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="capId">Cap ID:</label>
    <input type="text" formControlName="capId">
  </div>

  <div>
    <label for="name">Name:</label>
    <input type="text" formControlName="name">
  </div>

  <div>
    <label for="capPrice">Cap Price:</label>
    <input type="number" formControlName="capPrice">
  </div>

  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" formControlName="quantity">
  </div>

  <div>
    <label for="delivery">Delivery:</label>
    <input type="text" formControlName="delivery">
  </div>

  <div>
    <label for="suggestedPrice">Suggested Price:</label>
    <input type="number" formControlName="suggestedPrice">
  </div>

  <div>
    <label for="price">Price:</label>
    <input type="number" formControlName="price">
  </div>

  
  <div>
    <label for="discount">Discount:</label>
    <input type="number" formControlName="discount">
  </div>
  
  <div>
    <label for="soldQuantity">Sold Quantity:</label>
    <input type="number" formControlName="soldQuantity">
  </div>
  
  <div>
    <label for="image">Image:</label>
    <input type="text" formControlName="image">
  </div>
  
  <button type="submit">Submit</button>
</form>